/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Whitney";
}
/* common */
a{
    text-decoration: none; 
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
img{
    width: 100%;
}
/* header */
header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    width: 80%;
    margin: auto;
    height: auto;
    
}
.header-menu{
    
    line-height: 80px;
}
.col{
    float: left;
}
.col-right{
    width: 10%;
    text-align: right;
}
.col-left{
    width: 10%;
    text-align: left;
}
.col-right img{
    display: inline-block;
    vertical-align: middle;
}
.col-mid{
    width: 80%;
    text-align: center;
}
.menu-top{
    list-style-type: none;
    width: 100%;
    
}
.menu-top li{
    display: inline-block;
    
    
}
.menu-top a{
    color: white;
    padding: 0 25px;
    font-size: 20px;
}
.bottone a{
    color: #23272a;
    background-color: white;
    padding: 8px 16px;
    border-radius: 40px; 
}
.jumbotron{
    margin: auto;
    text-align: center;
    padding: 95px;
}
.title{
    font-size: 60px;
    margin-bottom: 20px;
}
.text{
    font-size: 23px;
    line-height: 30px;
}
.jumbotron h1{
    color: white;
    margin-bottom: 30px;
}
.jumbotron p{
    color: white;
    margin-bottom: 30px;
}

.btn-white{
    background-color: white;
    color: #23272a;
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 16px;
}
.btn-black{
    background-color: #23272a;
    color:white ;
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 16px;
}
.spaziamento{
    margin: 200px 0;
}
.col-img{
    width: 60%;
    text-align: left;
}
.col-text{
    width: 40%;
    padding-top: 35px;
}
.title-block{
    color:#23272a ;
}
.text-block{
    color:#23272a ;
}
.container-piccolo{
    width: 50%;
    margin: auto;
    text-align: center;
}
.container-piccolo h3{
    font-size: 30px;
}